input[type="file"]::file-selector-button {
  border: 2px solid #0369a1;
  border-radius: 8px;
  background-color: #e0f2fe;
  transition: 0.2s;
}

input[type="file"]::file-selector-button:hover {
  color:#e0f2fe;
  background-color: #0369a1;
  transition: 0.2s;
}

.scrollbox::-webkit-scrollbar {
  height: 5px;
}
.scrollbox::-webkit-scrollbar-thumb {
  background-color: #0369a1;
  border-radius: 5px;
}
.scrollbox::-webkit-scrollbar-track {
  background-color: #bae6fd;
  border-radius: 5px;
}