input[type='file']::file-selector-button {
  border: 2px solid #3b82f6;
  border-radius: 8px;
  background-color: #ffffff;
  transition: 0.2s;
}

input[type='file']::file-selector-button:hover {
  color: #ffffff;
  background-color: #3b82f6;
  transition: 0.2s;
}

.scrollbox::-webkit-scrollbar {
  height: 5px;
}
.scrollbox::-webkit-scrollbar-thumb {
  background-color: #3b82f6;
  border-radius: 5px;
}
.scrollbox::-webkit-scrollbar-track {
  background-color: #ffffff;
  border-radius: 5px;
}
